
<style>
  .btn-search{ 
    color: #fff;
    background-color: #fe424d;
    border-radius: 20px;
    width: 70%;
  }
  .search{ 
    border-radius: 20px;
    padding: 10px;
    width: 14rem;
  }
  .navbar{ 
    background-color: whitesmoke;
  }
  .btn-search:hover{ 
    color: #fff;
   
    background-color: #fe424d;
  }
  .btn-search i{ 
    margin-left:1rem ;
  }
  nav{ 
    height: 5rem;
    display:  flex;
    align-items: center;
    /* justify-content: sp; */

  }
  .logo{ 
    display:  flex;

  }

  .cred{ 
    display:  flex;

  } 

  @media screen and (max-width: 800px) {
    .logo{ 
      display:none;
    } 
    nav{ 
      font-size: 1rem;
    }



}

@media screen and (max-width: 600px) {
  
*{ 
  font-size: 0.8rem;
}
  .btn-search{ 
   
    
    border-radius: 20px;
    width: 50%;
  }
  .search{ 
    border-radius: 20px;
    padding: 1px;
    width: 15rem;
    height: 3rem;
  }


}


@media screen and (max-width: 400px) {
  
  *{ 
    font-size: 0.6rem;
  }
    .btn-search{ 
     
      
      border-radius: 20px;
      width: 40%;
    }
    .search{ 
      border-radius: 20px;
      padding: 1px;
      width: 15rem;
      height: 3rem;
    }
  
  
  }




</style>

<nav class="navbar">


   <div class="logo">
       
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass "></i></a>
    <a class="nav-link" href="/listings">Explore</a>

   </div>


    <div class="search-bar">
      <form class="d-flex" role="search">
        <input class="form-control me-2 search" type="search" placeholder="Search Destination" aria-label="Search">
        <button class="btn btn-search" type="submit">Search <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>


    <div class="cred">

    
          <a class="nav-link" href="/listings/new">Airbnb</a>
     
        <% if(!currUser) {%>
 
          <a class="nav-link active"  href="/login"><b>SignIn</b></a>
 
          <a class="nav-link" href="/signup"><b>signUp</b></a>
      
        <% } %>
        <% if(currUser){ %>
          <a class="nav-link" href="/logout"><b>logOut</b></a>
        
        <% } %>
      
      </ul>
    </div>
  </nav>